{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<section class="homeSection">

    <div class="homeDiv">
        <h1>Créez une expérience web unique avec Digital Solution.com</h1>
        <h2>Votre partenaire expert en design et développement web</h2>
        <a href="#">Contactez-nous !</a>
    </div>

</section>


{% endblock %}
