

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-image:  url("../image/smartphoneBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    
    
}

header{
    position: fixed;
    height: 20vh;
    width: 100%;
}

.navbar{
    height: 20vh;
}


.homeSection{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.homeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(../image/networkBG.jpg); */
    border-radius: 20pt;
    color: aliceblue;
    text-shadow: 2px -1px 4px black;
}



.homeDiv a {
    color: aliceblue !important;
    font-size: 1.6rem;
    font-weight: 600;
}

.homeDiv a:hover{
    color: #0af40a !important;
    text-shadow: 1px -1px 4px rgb(6, 10, 8);
}
