

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

body {
    background-image:  url("../image/bg-world-wide.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    
    
}

header{
    position: fixed;
    height: 20vh;
}

.navbar{
    height: 20vh;
}
